<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>278955640717-n27ur5cl9jepvnjul3hqi0as1nl3ioqc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.278955640717-n27ur5cl9jepvnjul3hqi0as1nl3ioqc</string>
	<key>API_KEY</key>
	<string>AIzaSyBVQ8THJT31yuZyLtMegKAsipC8MPWWTFQ</string>
	<key>GCM_SENDER_ID</key>
	<string>278955640717</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bambam.user.app</string>
	<key>PROJECT_ID</key>
	<string>bambamuser</string>
	<key>STORAGE_BUCKET</key>
	<string>bambamuser.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:278955640717:ios:792b08b52358f66c62dfc4</string>
</dict>
</plist>